<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap - Prebuilt Layout</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap-4.4.1.css" rel="stylesheet">
    
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <a class="navbar-brand" href="#">VoidStar</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
             <li class="nav-item active"> </li>
             <li class="nav-item">
                <a class="nav-link" href="#">About Us&nbsp;</a>
             </li>
             <li class="nav-item dropdown">
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="#">Action</a>
           <a class="dropdown-item" href="#">Another action</a>
           <div class="dropdown-divider"></div>
                   <a class="dropdown-item" href="#">Something else here</a>
                </div>
             </li>
             <li class="nav-item">
                <a class="nav-link disabled" href="#">Get Started</a>
             </li>
          </ul>
</div>
    </nav>

    <div class="jumbotron jumbotron-fluid text-center">
       <h1 class="display-4">About Us</h1>
       <p class="lead">Project Managment website to organize your projects</p>
       <hr class="my-4">
       <p><strong>Why VoidStar?</strong></p>
       <p class="lead">&nbsp;AI-fueled Technology </p>
    </div>
    <div class="container">
       <div class="row text-center">
          <div class="col-lg-6 offset-lg-3">VoidStar is powered with AI.&nbsp; </div>
       </div>
       <br>
       <hr>
       <br>
       <div> </div>
       <br/>
       <br/>
       <div class="row">
          <div class=" col-md-4"> This Project was created to help people manage their big projects by creating tasks with our AI bot.&nbsp; &nbsp; </div>
          <div class="col-md-4 "> 
            <p> &nbsp;This Project was created by&nbsp;</p>
            <p>EternalMoon1234#1145 and IzziCooki#0001.</p>
          </div>
          <div class="col-md-4 "> 
            <p>We used&nbsp;TypeScript,</p>
            <p>&nbsp;Node JS / NPM&nbsp;</p>
            <p>Python (for VoidBot),</p>
<p>&nbsp;PostgreSQL,</p>
<p>&nbsp;Prisma (ORM)</p>
          </div>
       </div>
       <br/>
       <br/>
      <div class="row">
<div class="text-center col-md-6 col-xl-12">
       <div class="card">
                <div class="card-body">
                   <h3>Time To get to Work!</h3>
<span class="badge badge-danger">&nbsp;Get Started</span> </div>
             </div>
          </div>
      </div>
      <br>
       <hr>
       <div class="row">
          <div class="text-center col-lg-6 offset-lg-3">
            <h4>VoidStar Solutions</h4>
<p>Copyright &copy; 2020 &middot; All Rights Reserved &middot; <a href="#" >&nbsp;</a></p>
          </div>
       </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
    <script src="js/jquery-3.4.1.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap-4.4.1.js"></script>
  </body>
</html>
