body {
background-color: #274167;

}


h1 {
	position: absolute;
width: 284px;
height: 65px;
left: 692px;
top: -20px;

font-family: ABeeZee;
font-style: normal;
font-weight: normal;
font-size: 55px;
line-height: 65px;
/* identical to box height */


color: #1EAEFF;
}

h2{
	position: absolute;
width: 191px;
height: 25px;
left: 1300px;
top: 18px;

font-family: ABeeZee;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
/* identical to box height */


color: #FFFFFF;
}

.top{
position: absolute;
width: 35px;
height: 35px;
left: 1489px;
top: 18px;
font-family: ABeeZee;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;

color: #000000;

}


.sidebar {
position: absolute;
width: 228px;
height: 100px;
left: 33px;
top: 00px;

font-family: ABeeZee;
font-style: normal;
font-weight: normal;
font-size: 55px;
line-height: 65px;

color: #1EAEFF;


}

.sideb {
	box-shadow:inset 0px 0px 0px -50px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:20px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px 0px 0px #528ecc;
	position: absolute;
	width: 120px;
	height: 50px;
	left: 33px;
	top: 200px;
}
.sideb:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.sideb:active {
	position:relative;
	top:120px;
}


.sidebar {
position: absolute;
width: 228px;
height: 100px;
left: 33px;
top: 00px;

font-family: ABeeZee;
font-style: normal;
font-weight: normal;
font-size: 55px;
line-height: 65px;

color: #1EAEFF;


}

.sideb2 {
	box-shadow:inset 0px 0px 0px -50px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:20px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px 0px 0px #528ecc;
	position: absolute;
	width: 120px;
	height: 50px;
	left: 33px;
	top: 300px;
}
.sideb2:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.sideb2:active {
	position:relative;
	top:120px;
}


.sideb3 {
	box-shadow:inset 0px 0px 0px -50px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:20px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px 0px 0px #528ecc;
	position: absolute;
	width: 120px;
	height: 50px;
	left: 33px;
	top: 400px;
}
.sideb3:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.sideb3:active {
	position:relative;
	top:120px;
}

h3{
	position: absolute;
	width: 306px;
	height: 114px;
	left: 389px;
	top: 55px;

	font-family: ABeeZee;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 57px;

	color: #1EAEFF;
}
.username{
	position: absolute;
	width: 306px;
	height: 114px;
	left: 389px;
	top: 100px;

	font-family: ABeeZee;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 57px;

	color: #1EAEFF;
}

.getstartedby{
/* Get started by... */


position: absolute;
width: 258px;
height: 30px;
left: 389px;
top: 200px;

font-family: ABeeZee;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 35px;

color: #FFFFFF;

}

.getstartedby3 {
	position: absolute;
	width: 149px;
	height: 18px;
	left: 425px;
	top: 285px;

	font-family: ABeeZee;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;

	color: #FFFFFF;
}

.getstartedby4 {
	position: absolute;
	width: 149px;
	height: 18px;
	left: 425px;
	top: 320px;

	font-family: ABeeZee;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;

	color: #FFFFFF;
}

.getstartedby5 {
	position: absolute;
	width: 170px;
	height: 18px;
	left: 425px;
	top: 355px;

	font-family: ABeeZee;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;

	color: #FFFFFF;
}


html {
-moz-transform: scale(0.8, 0.8); /* Moz-browsers */
    zoom: 0.8; /* Other non-webkit browsers */
    zoom: 80%; /* Webkit browsers */

  resize: none;

  }